*{
    margin: 0;
    padding: 0;
    font-family: "Neue Haas Unica Web", -apple-system, BlinkMacSystemFont, sans-serif;

}

h1 {
    font-size: 4em;
}

#top {
    margin-top: 50px;
   
}

h2 {
    margin-top: 50px;
    font-size: 2em;
    font-weight: 200;
}

.content { 
    width: 40%;
    margin: 0 auto;
}


.text {
    display: inline-block;
    text-align: justify;
}

#aboutme {
    margin-top: 40px;
}


a {
    text-decoration: none !important;
    color: darkgrey;
    font-size: 25px;
}

a:hover, #nav a:hover {
    color: #5CDBA4;
}


#nav {
    text-align: right;
    margin-top: 50px;
    border-bottom: 2px dotted black;
}

#nav a {
    font-size: 14px;
    color: black;
}


#webtext {
    margin-top: 30px;
}
#webtext p {
    margin-top: 20px;
}

ul {
    list-style-type: none;
    overflow: hidden;
    padding-bottom: 5px;
    padding-top: 5px;
}

li {
    float: right;
}

li a {
    display: block;
    text-decoration: none;
    padding-left: 5px;
    color: darkgray;
}

.logo {
    font-size: 18px;
    display: block;
    text-decoration: none;

}

@media only screen and (max-width: 1200px) {
    
    
    .content {
        width: 70%;
    }
}
@media only screen and (max-width: 700px) {
    
    
    .logo{
        display: none; 
    }
    .text {
        text-align: left;
    }
    h1 {font-size:3em}
}